@{
    ViewData["Title"] = "Home Page";
}

@section Header{
    <header>
        <nav class="navbar navbar-dark bg-dark border-bottom box-shadow mb-4">
            <div class="nav-left">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand ms-3">Softka</a>
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none text-light">Home</a>
            </div>
            <div class="nav-right">
                <img src="~/img/profile.png" alt="profile" class="img-fluid cursor-pointer me-3">
            </div>
        </nav>
    </header>
}

<center>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Gestiona tu hoja de vida</p>
    </div>

    <a class="btn btn-dark" type="submit" href="@Url.Action("ViewToPdf", "Home")" target="_blank">View pdf in new page</a>
    <a class="btn btn-dark" type="submit" href="@Url.Action("DownloadPdf", "Home")">Download pdf</a>
    <br/>
    <br/>
    <embed src="@Url.Action("ShowPdfOnPage", "Home")" width="800", height="400" type="application/pdf">
    <br>
    

</center>


